<body>
  <div class="header">
    <!--Main Image-->
    <div class="main_image">
      <a href="index.html"
        ><img
          src="files/PC_pure.jpg"
          alt="Clickable image that links to homepage"
      /></a>
    </div>
    <div class="navbar">
      <a class="active_link" href="index.html">Home</a>
      <a href="about.html">About Us</a>
    </div>
    <div>
      <a href="https://www.youtube.com/channel/UC7n8Sm_Wiw7r8_ZfuG7452g"
        ><img class="small_logo" src="files\yt_logo_mono_dark.png" alt=""
      /></a>
      <a href="https://discord.gg/uDUDwKatRY"
        ><img
          class="small_logo"
          src="files\Discord-Logo+Wordmark-White.png"
          alt=""
      /></a>
    </div>
  </div>
  <!--Main Content-->
  <div class="main_content">
    <iframe
      src="https://discord.com/widget?id=749906789033836544&theme=dark"
      width="350"
      height="500"
      allowtransparency="true"
      frameborder="0"
      sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
    ></iframe>
    <img src="files/Phasmostandout.jpg" alt="" />
  </div>
  <!--Footer-->
  <footer>Copyright &copy; 2021 PhasmoCrew. All Rights Reserved.</footer>
</body>
