.main_content {
  padding: 15px;
}

body {
  max-width: 1024px;
  height: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin: auto;
  background-color: hsl(0, 43%, 37%);
}
