<div class="header">
  <!--Main Image-->
  <div class="main_image">
    <a href="index.html"
      ><img
        src="assets/PC_pure.jpg"
        alt="Clickable image that links to homepage"
    /></a>
  </div>
  <div class="navbar">
    <a class="active_link" href="index.html">Home</a>
    <a href="about.html">About Us</a>
  </div>
  <div>
    <a href="https://www.youtube.com/channel/UC7n8Sm_Wiw7r8_ZfuG7452g"
      ><img class="small_logo" src="assets/yt_logo_mono_dark.png" alt=""
    /></a>
    <a href="https://discord.gg/uDUDwKatRY"
      ><img
        class="small_logo"
        src="assets/Discord-Logo+Wordmark-White.png"
        alt=""
    /></a>
  </div>
</div>
