<div>
  <!--Main Image-->
  <div class="main_image">
    <a routerLink="/home"
      ><img
        src="assets/PC_pure.jpg"
        alt="Clickable image that links to homepage"
    /></a>
  </div>
  <app-phasmo-navbar></app-phasmo-navbar>
  <div>
    <a href="https://www.youtube.com/channel/UC7n8Sm_Wiw7r8_ZfuG7452g"
      ><img class="small_logo" src="assets/yt_logo_mono_dark.png" alt=""
    /></a>
    <a href="https://discord.gg/uDUDwKatRY"
      ><img
        class="small_logo"
        src="assets/Discord-Logo+Wordmark-White.png"
        alt=""
    /></a>
  </div>
</div>
